<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
    crossorigin="anonymous" />
  <title> github </title>
</head>

<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a href="../" class="navbar-brand">github  <span style="color: rgb(39, 117, 161);"> <strong> - Django
            Framework</strong>
        </span> </a>
    </div>
  </div>

  <br /><br /> <br>
  <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
    <h1 class="display-5"> github trending repositories </h1>
    <h5>Using Python Language and Django Framework</h5>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <form method="post" class="col-md">
      {% csrf_token %}
      <div class=" input-group">

      <input type="text" class="form-control" name="search">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      </div>
    <form>
  </nav>
  <br> <br>
  <div class="row">
    {% if  url and language and final_lang  %}
    <div class="col d-flex justify-content-center" >
      <div class=" card text-white bg-light mb-6">
      <div class=" card-body">
        <h4><span class="badge badge-primary">url of repository :</span> {{url}} </h4><br>
        <h4><span class="badge badge-primary">language  </span> {{language}}</h4><br>
        <h4><span class="badge badge-primary">final_lang <br>
        </span> {{final_lang}}</h4>

      </div>
      {% endif %}
    </div>
</body>

</html>